README.md

*.css
*.d.ts
*.html
*.yml
*.png
*.svg
*.txt
*.ico
*.yaml
*.ttf
*ignore
.gitattributes
.husky/
.pnpm-store/
.editorconfig
.giteditconfig

ios/
android/
ios/
build/
scripts/
Gemfile
*.lock

// add other file to ignor if need